In [1]:
import pandas as pd
df = pd.read_csv('heart_fin.csv', ';', encoding = 'ISO-8859-1')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   restecg   303 non-null    int64
 6   thalach   303 non-null    int64
 7   exang     303 non-null    int64
 8   oldpeak   303 non-null    object
 9   target    303 non-null    int64
dtypes: int64(9), object(1)
memory usage: 23.8+ KB

In [3]:
df.describe()

,age,sex,cp,trestbps,chol,restecg,thalach,exang,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.528053,149.646865,0.326733,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.525860,22.905161,0.469794,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,71.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,133.500000,0.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,1.000000,153.000000,0.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,1.000000,166.000000,1.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,2.000000,202.000000,1.000000,1.000000

In [4]:
def qr(s):
    iqr = s.quantile(0.75) - s.quantile(0.25)
    return s.mean() - 1.5*iqr, s.mean() + 1.5*iqr

def clear(data, column, qrp):
    return data[(data[column] >= qrp[0]) & (data[column] <= qrp[1])]

qr_age = qr(df['age'])
qr_cp = qr(df['cp'])
qr_trestbps = qr(df['trestbps'])
qr_chol = qr(df['chol'])
qr_restecg = qr(df['restecg'])
qr_thalach = qr(df['thalach'])


df = clear(df, 'age', qr_age)
df = clear(df, 'cp', qr_cp)
df = clear(df, 'trestbps', qr_trestbps)
df = clear(df, 'chol', qr_chol)
df = clear(df, 'restecg', qr_restecg)
df = clear(df, 'thalach', qr_thalach)

In [5]:
df.count()

age         255
sex         255
cp          255
trestbps    255
chol        255
restecg     255
thalach     255
exang       255
oldpeak     255
target      255
dtype: int64