In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('recipes.csv')

In [3]:
df.head()

,cuisine,id,ingredients,vegetable juice,yellow cake mix,crusty rolls,fresh tarragon,corn syrup,Sriracha,tomato paste,...,capicola,figs,grated orange,candied orange peel,confit,purple onion,juice,orange liqueur,flax seed meal,peanuts
0,greek,10259,9,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,southern_us,25693,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,filipino,20130,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,indian,22213,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
ingredients = list(df.columns[3:])
def to_list(row):
    return [i for i in ingredients if row[i] == 1] 

df['ingredients'] = df.apply(lambda row: to_list(row), axis = 1)

,cuisine,id,ingredients,vegetable juice,yellow cake mix,crusty rolls,fresh tarragon,corn syrup,Sriracha,tomato paste,...,capicola,figs,grated orange,candied orange peel,confit,purple onion,juice,orange liqueur,flax seed meal,peanuts
0,greek,10259,"[black olives, romaine lettuce, seasoning, gar...",0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,southern_us,25693,"[salt, green tomatoes, plain flour, ground bla...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df = df[['cuisine', 'id', 'ingredients']]

In [17]:
df.head()

       cuisine     id                                        ingredients
0        greek  10259  [black olives, romaine lettuce, seasoning, gar...
1  southern_us  25693  [salt, green tomatoes, plain flour, ground bla...
2     filipino  20130  [salt, cooking oil, soy sauce, garlic powder, ...
3       indian  22213                [salt, vegetable oil, wheat, water]
4       indian  13162  [black pepper, lemon juice, salt, bay leaf, ca...

In [38]:
df = pd.read_csv('recipes.csv')
ids = list(df.id)
ingredients = list(df.columns[3:])
new_recipes = []

def make_list(row):
    return [i for i in ingredients if row[i].iloc[0] == 1]

for current_id in ids:
    cuisine = df[df['id'] == current_id]['cuisine'].iloc[0]
    current_ingredients = make_list(df[df['id'] == current_id])
    current_recipe = {'cuisine': cuisine, 'id': int(current_id), 'ingredients': current_ingredients}
    new_recipes.append(current_recipe)

In [39]:
with open("new_recipes.json", "w") as write_file:
    json.dump(new_recipes, write_file)

[]